/*
0 - 600PX: PHONE
600 - 900PX: TABLET PORTRAIT
900 - 1200PX: TABLET LANDSCAPE
*/
/*
$BREAKPOINT ARGUMENT CHOICES:
- phone
- tab-port
- tab-land 
- desktop
*/
.u-margin-top-bottom {
  margin: 4rem 0; }

@supports not (display: grid) {
  .no-margin-right {
    margin: 0 !important; } }

@media (max-width: 75em) {
  @supports not (display: grid) {
    .no-margin-right {
      margin: 0 !important; } } }

@media (max-width: 56.25em) {
  @supports not (display: grid) {
    .no-margin-right {
      margin: 0 !important; } } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  display: flex;
  flex-direction: column;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #272727;
  box-sizing: border-box; }

.container {
  max-width: 145rem;
  margin: 0 auto; }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - 100px); }
  @media (max-width: 37.5em) {
    .profile {
      justify-content: center; } }
  .profile__image {
    margin: 0 auto 10rem;
    transform: translateY(-40px);
    animation: fadein 1s forwards; }
  .profile__image img {
    width: 25vw; }
    @media (max-width: 75em) {
      .profile__image img {
        width: 35vw; } }
    @media (max-width: 56.25em) {
      .profile__image img {
        width: 40vw; } }
    @media (max-width: 37.5em) {
      .profile__image img {
        width: 70vw; } }
  .profile__heading {
    text-align: right;
    color: #272727;
    letter-spacing: 0.5rem;
    opacity: 0;
    transform: translateY(-40px);
    animation: fadein 1s forwards;
    padding: 0 .5rem; }
    @media (max-width: 37.5em) {
      .profile__heading {
        letter-spacing: 0.1rem; } }
  .profile__main {
    color: #0E9EB1;
    font-size: 18rem;
    font-weight: 600;
    line-height: .7; }
    @media (max-width: 75em) {
      .profile__main {
        font-size: 13rem; } }
    @media (max-width: 56.25em) {
      .profile__main {
        font-size: 12rem; } }
    @media (max-width: 37.5em) {
      .profile__main {
        font-size: 7rem;
        line-height: 1.1;
        text-align: center; } }
  .profile__sub {
    font-weight: 300;
    font-size: 5.5rem;
    color: #0CEBC7;
    margin-bottom: 5rem; }
    @media (max-width: 75em) {
      .profile__sub {
        font-size: 4.5rem; } }
    @media (max-width: 56.25em) {
      .profile__sub {
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
      .profile__sub {
        font-size: 2.5rem;
        text-align: center; } }

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem auto;
  padding: 0 5rem; }
  @supports (display: grid) {
    .project-section {
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 75em) {
    .project-section {
      margin: 10rem 6rem; }
      @supports (display: grid) {
        .project-section {
          grid-template-columns: repeat(2, 1fr); } } }
  @media (max-width: 56.25em) {
    .project-section {
      justify-content: center;
      margin: 10rem 7rem; }
      @supports (display: grid) {
        .project-section {
          grid-gap: 7rem;
          justify-content: space-between; } } }
  @media (max-width: 37.5em) {
    .project-section {
      padding: 0;
      margin: 14rem 0;
      justify-content: center; }
      @supports (display: grid) {
        .project-section {
          grid-template-columns: 100%; } } }

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #0CEBC7 0, #596275 50%);
  opacity: .9;
  padding: 7rem 0;
  position: relative; }
  @supports (display: grid) {
    .section-contact {
      grid-column: 1 / -1; } }
  .section-contact__header {
    font-size: 4rem;
    font-weight: 100;
    color: #fff;
    margin-bottom: 5rem; }
    @media (max-width: 37.5em) {
      .section-contact__header {
        font-size: 3.5rem;
        text-align: center; } }

.portfolio__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(115deg, #00BCD4 0, #00BCD4 50%, #596275 50%);
  padding: 5rem 0; }
  @media (max-width: 75em) {
    .portfolio__header {
      background-image: linear-gradient(105deg, #00BCD4 0, #00BCD4 50%, #596275 50%); } }
  @media (max-width: 56.25em) {
    .portfolio__header {
      justify-content: space-between;
      background-image: linear-gradient(95deg, #00BCD4 0, #00BCD4 50%, #596275 50%); } }
  @media (max-width: 37.5em) {
    .portfolio__header {
      flex-direction: column;
      background-image: linear-gradient(0deg, #00BCD4 0, #596275 90%); } }

.portfolio__heading {
  color: #fff;
  font-weight: 300;
  font-size: 6rem; }

.portfolio__details {
  font-size: 2rem;
  color: #fff;
  max-width: 45rem; }
  @media (max-width: 56.25em) {
    .portfolio__details {
      padding: 3rem; } }
  @media (max-width: 37.5em) {
    .portfolio__details {
      padding: 3rem 1rem;
      font-size: 2rem; } }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem; }
  @supports (display: grid) {
    footer {
      grid-column: 1 / -1; } }
  footer > *:not(:last-child) {
    margin-bottom: 4rem; }

.logo__image {
  width: 20rem; }

.social-media {
  display: flex; }
  .social-media__icon:not(:last-child) {
    margin-right: 3rem; }

.social-media i {
  font-size: 3rem;
  color: #00BCD4;
  transition: color .2s ease-in; }

.social-media i:hover {
  color: #0B58E1; }

.main-nav {
  height: 10rem;
  text-transform: uppercase;
  align-items: center; }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0 10rem;
    padding-top: 2rem;
    opacity: 0;
    transform: translateY(-40px);
    animation: fadein 1s forwards; }
    @media (max-width: 37.5em) {
      .main-nav__list {
        margin: 0 3rem; } }
  .main-nav__logo {
    width: 15rem;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .main-nav__logo {
        width: 14rem; } }
  .main-nav__link:link, .main-nav__link:visited {
    border: 2px solid #00BCD4;
    border-radius: .1rem;
    background: #00BCD4;
    color: #fff;
    padding: 1.3rem 2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.2s ease-in; }
    @media (max-width: 37.5em) {
      .main-nav__link:link, .main-nav__link:visited {
        border: 1px solid #00BCD4;
        font-size: 1.6rem; } }
  .main-nav__link:hover {
    background-color: #0CEBC7;
    color: white; }

@keyframes pulse {
  0% {
    transform: scale(1.15); }
  25% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1.1); } }

@keyframes fadein {
  100% {
    opacity: 1;
    transform: translateY(0); } }

.card {
  width: 25%;
  margin: 0 10rem 6rem 0;
  position: relative;
  transform: translate(0);
  transition: transform .3s linear;
  box-shadow: 0 0.1rem 1rem #ebebeb; }
  @supports (display: grid) {
    .card {
      width: 87%;
      margin: 0 auto; } }
  @media (max-width: 75em) {
    .card {
      margin: 0 auto;
      width: 36.8%;
      margin: 0 10rem 10rem 0; }
      @supports (display: grid) {
        .card {
          width: 90%; } } }
  @media (max-width: 56.25em) {
    .card {
      width: 85%;
      margin: 0 auto; } }
  @media (max-width: 37.5em) {
    .card {
      margin-bottom: 10rem;
      box-shadow: 1px 1px 5px #ccc; }
      @supports (display: grid) {
        .card {
          margin: 6rem auto; } } }
  .card__information {
    padding: 2rem; }
  .card__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem; }
  .card__description {
    font-size: 1.8rem;
    line-height: 1.2;
    height: 20rem; }
    @supports (display: grid) {
      .card__description {
        height: 15rem; } }
    @media (max-width: 56.25em) {
      .card__description {
        height: 10rem; }
        @supports (display: grid) {
          .card__description {
            height: 27rem; } } }
    @media (max-width: 37.5em) {
      .card__description {
        height: 17rem; } }
  .card__links {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0; }
  .card__links i {
    font-size: 3rem;
    cursor: pointer;
    color: #00BCD4;
    transform: scale(1);
    animation: 1s pulse ease-in-out 5;
    transition: color .2s ease-in; }
  .card__links i:hover {
    color: #0CEBC7; }
  .card__image {
    background: rgba(11, 225, 130, 0.8); }
  .card__image img {
    width: 100%; }

.card-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: #00BCD4;
  opacity: .8;
  transform: translateX(-120%);
  transition: all .3s linear;
  visibility: hidden;
  opacity: 0; }
  @media (max-width: 37.5em) {
    .card-side {
      flex-direction: row;
      width: 100%;
      max-height: 10%;
      transform: translateY(-100%);
      visibility: visible;
      opacity: 1; } }

.card:hover {
  transform: translateX(20%); }
  @media (max-width: 37.5em) {
    .card:hover {
      transform: translateX(0); } }

.card:hover .card-side {
  transform: translateX(-100%);
  visibility: visible;
  opacity: 1; }
  @media (max-width: 37.5em) {
    .card:hover .card-side {
      transform: translateX(0) translateY(-100%); } }

.card-side i {
  font-size: 4rem;
  color: white; }
  @media (max-width: 37.5em) {
    .card-side i {
      font-size: 3rem; } }

input[type="text"],
input[type="email"],
select {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  height: 4rem;
  padding: .7rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 0.2rem solid #0CEBC7;
  width: 100%; }
  @supports not (display: grid) {
    input[type="text"],
    input[type="email"],
    select {
      margin-bottom: 5rem; } }

input[type="submit"] {
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  background-color: #0CEBC7; }

textarea {
  border: none;
  border-bottom: 0.2rem solid #0CEBC7;
  width: 100%; }

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.2rem solid #00BCD4; }

input:required {
  box-shadow: none; }

input:focus:invalid {
  border-bottom: solid .2rem #f38429; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

option:not(:checked) {
  color: #272727;
  /* prevent <option>s from becoming transparent as well */ }

.contact-form {
  background-color: white;
  border-radius: .5rem;
  padding: 5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(49, 14, 14, 0.3); }
  @supports (display: flex) {
    .contact-form {
      width: 40%; } }
  @media (max-width: 75em) {
    @supports (display: flex) {
      .contact-form {
        width: 50%; } } }
  @media (max-width: 37.5em) {
    .contact-form {
      width: 100%;
      background-color: transparent;
      box-shadow: none; } }
  .contact-form__label {
    margin-right: 2rem;
    font-size: 2rem; }
    @media (max-width: 37.5em) {
      .contact-form__label {
        color: #fff;
        font-size: 2.7rem; } }
  .contact-form__content {
    align-items: center;
    font-size: 2.3rem; }
    @supports (display: grid) {
      .contact-form__content {
        display: grid;
        grid-template-columns: 40% 65%; } }
    @media (max-width: 37.5em) {
      .contact-form__content {
        text-align: center; }
        @supports (display: grid) {
          .contact-form__content {
            grid-template-columns: 1fr;
            grid-gap: 2rem; } } }
  .contact-form__btn {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3rem; }
    @supports (display: grid) {
      .contact-form__btn {
        grid-column: 1 / -1; } }

.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  text-align: center;
  font-size: 1.6rem;
  color: #fff; }

.success {
  background-color: #0CEBC7; }

.error {
  background-color: #f38429; }

.btn {
  border-radius: 3rem;
  color: #ffffff;
  background-color: #00BCD4;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  border: none;
  width: 15rem;
  transition: background-color .3s ease-out, opacity .3s ease-in .2s; }

.btn:hover {
  background-color: #02daf6; }

.btn:active {
  background-color: #0B58E1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
