.u-margin-top-bottom {
  margin: 4rem 0; }

/*
0 - 600PX: PHONE
600 - 900PX: TABLET PORTRAIT
900 - 1200PX: TABLET LANDSCAPE
*/
/*
$BREAKPOINT ARGUMENT CHOICES:
- phone
- tab-port
- tab-land 
- desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px calc(80vh - 80px);
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  box-sizing: border-box; }

input[type="text"],
input[type="email"],
select {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  height: 4rem;
  padding: .7rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 0.2rem solid #f8a5c2;
  width: 100%; }

input[type="submit"] {
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  background-color: #596275; }

textarea {
  border: none;
  border-bottom: 0.2rem solid #f8a5c2; }

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.2rem solid #546de5; }

input:required {
  box-shadow: none; }

input:focus:invalid {
  border-bottom: solid .2rem #f38429; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

option:not(:checked) {
  color: #272727;
  /* prevent <option>s from becoming transparent as well */ }

.main-nav {
  grid-column: 1 / -1;
  text-transform: uppercase; }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0 10rem;
    padding-top: 2rem;
    opacity: 0;
    transform: translateY(-40px);
    animation: fadein 1s forwards; }
    @media (max-width: 37.5em) {
      .main-nav__list {
        margin: 0 3rem; } }
  .main-nav__logo {
    width: 7.5rem; }
    @media (max-width: 37.5em) {
      .main-nav__logo {
        width: 7rem; } }
  .main-nav__link:link, .main-nav__link:visited {
    border: 2px solid #546de5;
    border-radius: 3rem;
    color: #546de5;
    padding: 1.3rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.1s ease-in; }
    @media (max-width: 37.5em) {
      .main-nav__link:link, .main-nav__link:visited {
        border: 1px solid #546de5; } }
  .main-nav__link:hover {
    background-color: #546de5;
    color: white; }

.profile {
  grid-column: 1 / -1; }
  .profile__details {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .profile__details > * {
      margin-bottom: 20px; }
  .profile__photo {
    border-radius: 5px;
    overflow: hidden;
    height: 19rem;
    opacity: 0;
    transform: translateY(-40px);
    transition: box-shadow .2s ease-out;
    animation: fadein 1s forwards; }
    @media (max-width: 37.5em) {
      .profile__photo {
        margin-top: 4rem;
        height: 18rem; } }
  .profile__photo img {
    width: 20rem;
    transition: all .2s ease-in; }
    @media (max-width: 37.5em) {
      .profile__photo img {
        width: 18rem; } }
  .profile__photo img:hover {
    transform: scale(1.1) rotate(-6deg); }
  .profile__heading {
    color: #272727;
    letter-spacing: 0.2px;
    line-height: 1.9;
    text-align: center;
    opacity: 0;
    transform: translateY(-40px);
    animation: fadein 1s forwards; }
    .profile__heading-main {
      color: #546de5; }
    .profile__heading-main, .profile__heading-sub {
      font-size: 5rem;
      font-weight: 300; }
      @media (max-width: 37.5em) {
        .profile__heading-main, .profile__heading-sub {
          font-size: 4rem; } }

.portfolio {
  grid-column: 1 / -1; }
  .portfolio__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(115deg, #546de5 0, #546de5 50%, #596275 50%);
    padding: 5rem 0; }
    @media (max-width: 37.5em) {
      .portfolio__header {
        grid-template-columns: 1fr; } }
  .portfolio__heading {
    color: #fff;
    font-size: 4rem;
    font-weight: 300; }
  .portfolio__details {
    font-size: 2rem;
    color: #fff;
    width: 500px; }

.projects {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 120rem;
  margin: 10rem auto; }
  @media (max-width: 75em) {
    .projects {
      max-width: 100rem; } }
  @media (max-width: 37.5em) {
    .projects {
      grid-template-columns: 1fr; } }

.project {
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 10px; }
  @media (max-width: 37.5em) {
    .project {
      border-radius: 0; } }
  .project__img {
    width: 100%;
    transition: all .3s ease-in .1s; }
  .project__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer; }
  .project__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-90deg, rgba(84, 109, 229, 0.8), rgba(89, 98, 117, 0.8));
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    font-size: 4rem;
    font-weight: 100; }

.project:hover .project__overlay {
  top: -100%; }

.project:hover .project__btn {
  opacity: 1; }

.project:hover .project__img {
  transform: scale(1.1); }

.btn {
  border-radius: 3rem;
  color: #ffffff;
  background-color: #546de5;
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  border: none;
  width: 15rem;
  transition: background-color .3s ease-out, opacity .3s ease-in .2s; }

.btn:hover {
  background-color: #778beb; }

.btn:active {
  background-color: #334499; }

.section-contact {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #f8a5c2 0, #596275 50%);
  opacity: .9;
  padding: 7rem 0;
  position: relative; }
  .section-contact__header {
    font-size: 4rem;
    font-weight: 100;
    color: #fff;
    margin-bottom: 5rem; }

.contact-form {
  background-color: white;
  border-radius: .5rem;
  padding: 5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }
  .contact-form__label {
    margin-right: 1rem; }
  .contact-form__content {
    display: grid;
    grid-template-columns: 40% 65%;
    align-items: center;
    font-size: 2.3rem; }
  .contact-form__btn {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 3rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

footer {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem; }
  footer > *:not(:last-child) {
    margin-bottom: 4rem; }

.logo__image {
  width: 7.5rem; }

.social-media {
  display: flex; }
  .social-media__icon:not(:last-child) {
    margin-right: 3rem; }

.social-media i {
  font-size: 3rem;
  color: #546de5;
  transition: color .2s ease-in; }

.social-media i:hover {
  color: #334499; }

@keyframes fadein {
  100% {
    opacity: 1;
    transform: translateY(0); } }
