/*
    grey-color: #777777;
    black-color: 
*/

$primary-color: #546de5;
$primary-color-light: #778beb;
$primary-color-dark: #334499;
$secondary-color: #d0cdfe;
$secondary-color-dark: #8a82fc;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px calc(80vh - 80px);
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777777;
    box-sizing: border-box;
}

.main-nav {
    grid-column: 1 / -1;
    text-transform: uppercase;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        margin: 0 10rem;
        padding-top: 2rem;
    }
    &__logo {
        width: 75px;
    }
    &__link:link,
    &__link:visited {
        border: 2px solid $primary-color;
        border-radius: 3rem;
        color: $primary-color;
        padding: 1.3rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        transition: all 0.3s ease-in;
    }
    &__link:hover {
        background-color: $primary-color;
        color: white;
    }
}

.profile {
    grid-column: 1 / -1;
    &__details {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        &>* {
            margin-bottom: 20px;
        }
    }
    &__photo {
        border-radius: 10px;
        overflow: hidden;
        height: 190px;
        box-shadow: 5px 5px 1px $primary-color;
    }
    &__photo img {
        width: 200px;
        transition: all .2s ease-in;
    }
    &__photo img:hover {
        transform: scale(1.1);
    }
    &__heading {
        color: #000000;
        letter-spacing: 0.2px;
        line-height: 1.9;
        text-align: center;
        &-main,
            {
            color: $primary-color;
        }
        &-main,
        &-sub {
            font-size: 5rem;
            font-weight: 300;
        }
    }
}

.portfolio {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(to right, $primary-color 0, $primary-color 50%, #596275 50%);
    padding: 5rem 0;
    &__heading {
        color: white;
        font-size: 4rem;
        font-weight: 300;
    }
    &__details {
        font-size: 2rem;
        color: #fff;
        width: 500px;
    }
}

.portfolio {}

//ANIMATIONS
@keyframes fadein {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.4;
    }
    75% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes swing {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes fadeInRight {
    100% {
        opacity: 1;
        transform: translateX(0) rotate(360deg);
    }
}

@keyframes magic {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    20% {
        -webkit-clip-path: polygon(28% 0, 73% 0, 100% 100%, 0% 100%);
        clip-path: polygon(28% 0, 73% 0, 100% 100%, 0% 100%);
    }
    40% {
        -webkit-clip-path: polygon(0 0, 100% 72%, 100% 100%, 0 35%);
        clip-path: polygon(0 0, 100% 72%, 100% 100%, 0 35%);
    }
    60% {
        -webkit-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    }
    80% {
        -webkit-clip-path: polygon(0 70%, 100% 0, 100% 32%, 0 100%);
        clip-path: polygon(0 70%, 100% 0, 100% 32%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.container {}

.section-projects {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    padding: 10rem;
}

.btn {
    border-radius: 3rem;
    color: #ffffff;
    background-color: $primary-color;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    width: 15rem;
    transition: background-color .3s ease-out,
                opacity .3s ease-in .2s;
}

.btn:hover {
    background-color: $primary-color-light;
}

.btn:active {
    background-color: $primary-color-dark;
}

.project {
    position: relative;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    &__img {
        width: 100%;
        transition: all .3s ease-in .1s;
    }
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        cursor: pointer;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#596275, .95);
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s;
        font-size: 4rem;
        font-weight: 100;
    }
    &__details:hover {}
}

.project:hover .project__title {
    top: -100%;
}

.project:hover .project__btn {
    opacity: 1;
}

.project:hover .project__img {
    transform: scale(1.1);
}

.skillbars {
    padding: 0 20rem;
    &__item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__container {
        flex: 1;
        height: 3rem;
        background-color: rgb(208, 214, 206);
        border: solid 2px #fff;
        border-radius: .4rem;
        margin-top: 10px;
        margin-left: 4rem;
    }
    &__item:not(:last-of-type),
    &__container:not(:last-of-type) {
        margin-bottom: 2rem;
    }
    &__lang {
        position: relative;
        height: 100%;
        color: #ffffff;
        width: 10%;
        font-size: 1.5rem;
        align-self: flex-end;
        &--html {
            background-color: $primary-color;
            animation: Animate-HTML 1s ease-in 1s forwards;
        }
        &--css {
            background-color: dodgerblue;
            animation: Animate-CSS 1s ease-in 1s forwards;
        }
        &--javascript {
            background-color: tomato;
            animation: Animate-JavaScript 1s ease-in 1s forwards;
        }
    }
    &__percent {
        position: absolute;
        right: 1rem;
    }
}

@keyframes Animate-HTML {
    from {
        width: 10%;
    }
    to {
        width: 95%
    }
}

@keyframes Animate-CSS {
    from {
        width: 10%;
    }
    to {
        width: 90%
    }
}

@keyframes Animate-JavaScript {
    from {
        width: 10%;
    }
    to {
        width: 70%
    }
}