// COLORS
$primary-color: #546de5;
$primary-color-light: #778beb;
$primary-color-dark: #334499;
$secondary-color: #f8a5c2;
$secondary-color-dark: #8a82fc;
$grey-color: #596275;
$grey-color-dark: #272727;

// UTILITY CLASSES

.u-margin-top-bottom { margin: 4rem 0 };

// MIXINS

/*
0 - 600PX: PHONE
600 - 900PX: TABLET PORTRAIT
900 - 1200PX: TABLET LANDSCAPE
*/

/*
$BREAKPOINT ARGUMENT CHOICES:
- phone
- tab-port
- tab-land 
- desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == desktop {
        @media (max-width: 75em) { @content }; //1200px
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    
    @include respond(desktop) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px calc(80vh - 80px);
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777777;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
select,
    {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    height: 4rem;
    padding: .7rem;
    margin: 1rem 0;
    border: none;
    border-bottom: .2rem solid $secondary-color;
    width: 100%;
}

input[type="submit"] {
    font-family: inherit;
    font-size: 2rem;
    cursor: pointer;
    background-color: #596275;
}

textarea {
    border: none;
    border-bottom: .2rem solid $secondary-color;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 .2rem .2rem rgba(#000, .1);
    border-bottom: .2rem solid $primary-color;
}

input:required {
    box-shadow: none;
}

input:focus:invalid {
    border-bottom: solid .2rem #f38429;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

option:not(:checked) {
    color: $grey-color-dark;
    /* prevent <option>s from becoming transparent as well */
}

.main-nav {
    grid-column: 1 / -1;
    text-transform: uppercase;
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        margin: 0 10rem;
        padding-top: 2rem;
        opacity: 0;
        transform: translateY(-40px);
        animation: fadein 1s forwards;
        @include respond(phone) {
            margin: 0 3rem;
        }
    }
    &__logo {
        width: 7.5rem;
        @include respond(phone) {
            width: 7rem;
        }
    }
    &__link:link,
    &__link:visited {
        border: 2px solid $primary-color;
        border-radius: 3rem;
        color: $primary-color;
        padding: 1.3rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        transition: all 0.1s ease-in;
        @include respond(phone) {
            border: 1px solid $primary-color
        }
    }
    &__link:hover {
        background-color: $primary-color;
        color: white;
    }
}

.profile {
    grid-column: 1 / -1;
    &__details {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        &>* {
            margin-bottom: 20px;
        }
    }
    &__photo {
        border-radius: 5px;
        overflow: hidden;
        height: 19rem;
        opacity: 0;
        transform: translateY(-40px);
        transition: box-shadow .2s ease-out;
        animation: fadein 1s forwards; //group nav, head, photo animation
        @include respond(phone) {
            margin-top: 4rem;
            height: 18rem;
        }
    }
    &__photo img {
        width: 20rem;
        transition: all .2s ease-in;
        @include respond(phone) {
            width: 18rem;
        }
    }
    &__photo img:hover {
        transform: scale(1.1) rotate(-6deg);
    }
    &__heading {
        color: $grey-color-dark;
        letter-spacing: 0.2px;
        line-height: 1.9;
        text-align: center;
        opacity: 0;
        transform: translateY(-40px);
        animation: fadein 1s forwards;
        &-main,
            {
            color: $primary-color;
        }
        &-main,
        &-sub {
            font-size: 5rem;
            font-weight: 300;
            @include respond(phone) {
                font-size: 4rem;
            }
        }
    }
}

.portfolio {
    grid-column: 1 / -1;
    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        background-image: linear-gradient(115deg, $primary-color 0, $primary-color 50%, $grey-color 50%);
        padding: 5rem 0;
        @include respond(phone) {
            grid-template-columns: 1fr;
        }
    }
    &__heading {
        color: #fff;
        font-size: 4rem;
        font-weight: 300;
    }
    &__details {
        font-size: 2rem;
        color: #fff;
        width: 500px;
    }
}

.projects {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 120rem;
    margin: 10rem auto;
    @include respond(desktop) {
        max-width: 100rem;
    }
    @include respond(phone) {
        grid-template-columns: 1fr;
    }
}

.project {
    position: relative;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    @include respond(phone) {
        border-radius: 0;
    }
    &__img {
        width: 100%;
        transition: all .3s ease-in .1s;
    }
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        cursor: pointer;
    }
    &__overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(-90deg, rgba($primary-color, .8), rgba($grey-color, .8));
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s;
        font-size: 4rem;
        font-weight: 100;
    }
    &__details:hover {}
}

.project:hover .project__overlay {
    top: -100%;
}

.project:hover .project__btn {
    opacity: 1;
}

.project:hover .project__img {
    transform: scale(1.1);
}

.btn {
    border-radius: 3rem;
    color: #ffffff;
    background-color: $primary-color;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    width: 15rem;
    transition: background-color .3s ease-out, opacity .3s ease-in .2s;
}

.btn:hover {
    background-color: $primary-color-light;
}

.btn:active {
    background-color: $primary-color-dark;
}

.section-contact {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #f8a5c2 0, #596275 50%);
    opacity: .9;
    padding: 7rem 0;
    position: relative;
    &__header {
        font-size: 4rem;
        font-weight: 100;
        color: #fff;
        margin-bottom: 5rem;
    }
}

.contact-form {
    background-color: white;
    border-radius: .5rem;
    padding: 5rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
    &__label {
        margin-right: 1rem;
    }
    &__content {
        display: grid;
        grid-template-columns: 40% 65%;
        align-items: center;
        font-size: 2.3rem;
    }
    &__select {}
    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

footer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    &>*:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.logo {
    &__image {
        width: 7.5rem;
    }
}

.social-media {
    display: flex;
    &__icon:not(:last-child) {
        margin-right: 3rem;
    }
}

.social-media i {
    font-size: 3rem;
    color: $primary-color;
    transition: color .2s ease-in;
}

.social-media i:hover {
    color: $primary-color-dark;
}

//ANIMATIONS
@keyframes fadein {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}