.portfolio {
    // grid-column: 1 / -1;

    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(115deg, $primary-color 0, $primary-color 50%, $grey-color 50%);
        padding: 5rem 0;

        // @supports(display: grid) {
        //     display: grid;
        //     grid-template-columns: repeat(2, 1fr);
        //     justify-items: center;
        //     align-items: center;
        // }

        @include respond(desktop) {
            background-image: linear-gradient(105deg, $primary-color 0, $primary-color 50%, $grey-color 50%);
        }

        @include respond(tab-port) {
            justify-content: space-between;
            background-image: linear-gradient(95deg, $primary-color 0, $primary-color 50%, $grey-color 50%);
        }

        @include respond(phone) {
            @supports(display: grid) {
                // grid-template-columns: 1fr;
            }

            flex-direction: column;
            background-image: linear-gradient(0deg, $primary-color 0, $grey-color 90%);
        }
    }

    &__heading {
        color: #fff;
        font-weight: 300;
        font-size: 6rem;
    }

    &__details {
        font-size: 2rem;
        color: #fff;
        max-width: 45rem;

        @include respond(tab-port) {
            padding: 3rem;
        }

        @include respond(phone) {
            padding: 3rem 1rem;
            font-size: 2rem;
        }
    }
}