@supports(display: grid) {
    .card {
        position: relative;
        width: 90%;
        transform: translate(0);
        transition: transform .3s linear;
        box-shadow: 0 .1rem 1rem rgb(235, 235, 235);

        @include respond(desktop) {
            margin: 0 auto;
            width: 80%;
        }

        @include respond(tab-port) {
            width: 90%;
        }

        &__information {
            padding: 2rem;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 3rem;
        }

        &__description {
            font-size: 1.8rem;
            line-height: 1.2;
            height: 15rem;

            @include respond(tab-port) {
                height: 27rem;
            }
        }

        &__links {
            display: flex;
            justify-content: space-around;
            padding: 2rem 0;
        }

        &__links i {
            font-size: 3rem;
            cursor: pointer;
            color: $primary-color;
            transform: scale(1);
            animation: 1s pulse ease-in-out 5;
        }

        &__image {
            background: rgba($secondary-color-dark, .8);
        }

        &__image img {
            width: 100%;
        }
    }

    .card-side {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 20%;
        background: $primary-color;
        ;
        opacity: .8;
        transform: translateX(-120%);
        transition: all .3s linear;
        visibility: hidden;
        opacity: 0;
    }

    .card:hover {
        transform: translateX(20%);
    }

    .card:hover .card-side {
        transform: translateX(-100%);
        visibility: visible;
        opacity: 1;
    }

    .card-side i {
        font-size: 4rem;
        color: white;
    }
}